@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Custom Overrides */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input::placeholder {
  /* Set placeholder text color */
  color: #a0aec0; /* Tailwind's gray-400 */
}

input:-ms-input-placeholder {
  /* For Microsoft Edge */
  color: #a0aec0;
}

input::-ms-input-placeholder {
  /* For Microsoft Edge */
  color: #a0aec0;
}

/* Set text color inside input boxes */
input[type="text"],
input[type="email"],
input[type="password"] {
  /* Set text color */
  color: #000; /* Black color for text */
}

.error-message {
  color: #e53e3e; /* Red color for error messages */
  font-size: 0.875rem; /* Adjust font size */
  margin-top: 0.25rem; /* Add space between input and error message */
}


.small-link {
  font-size: 0.8rem;
}